h1, .h1 {
    @extend %class-h1;
}

h2, .h2 {
    @extend %class-h2;
}

h3, .h3 {
    @extend %class-h3;
}

h4, .h4 {
    @extend %class-h4;
}

h5, .h5 {
    @extend %class-h5;
}

h6, .h6 {
    @extend %class-h6;
}

p {
    margin: 0 0 20px 0;
}

p, span, a {
    word-break: break-word;
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: $font-regular;
    @include mediaQuery($brkp-medium) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

