@mixin mediaQuery ($arg) {
	@media screen and (min-width: $arg) {
		@content;
	}
}

@mixin padding($mobile-top: 0, $mobile-bottom: 0, $desktop-top: 0, $desktop-bottom: 0) {
        padding: $mobile-top 20px $mobile-bottom 20px;
    @include mediaQuery($brkp-large) {
        padding: $desktop-top 50px $desktop-bottom 50px;
    }
    @include mediaQuery($theme-small-width + 100px) {
        padding: $desktop-top 0 $desktop-bottom 0;
    }
}

@mixin desktop-hidden($display_mobile) {
    display: $display_mobile;
    @include mediaQuery($brkp-large) {
        display: none;
    }
}

@mixin mobile-hidden($display_mobile) {
    display: none;
    @include mediaQuery($brkp-large) {
        display: $display_mobile;
    }
}

@mixin image-wrapper($width, $height) {
    width: $width;
    height: $height;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin display-flex($brkp) {
    display: flex;
    flex-direction: column;
    @include mediaQuery($brkp) {
        flex-direction: row;
    }
}

@mixin close-button($color) {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: $font-regular;
    width: 22px;
    height: 22px;
    color: $color;
    cursor: pointer;
    // padding: 15px 20px 15px 0;
    margin: 0 0 0 auto;
    position: relative;
    @extend %hover-transition;
    @include mediaQuery($brkp-medium) {
        // padding: 10px 20px 10px 0;
    }

    &:before,
    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color;
        position: absolute;
        top: 50%;
        right: 0;
        transition-duration: 0.3s;
    }

    &:before {
        transform: translateY(-50%) rotate(45deg);
    }

    &:after {
        transform: translateY(-50%) rotate(-45deg);
    }

    &:hover{
        transform: rotate(180deg);
    }
}



// Functions
@function rgba-color($color, $opacity) {
  	@return rgba(red($color), green($color), blue($color), $opacity);
}


// Extends
%wrapper {
    width: 100%;
    max-width: $theme-width;
    margin: 0 auto;
}

%link-no-decoration {
    text-decoration: none;
}

%hover-transition {
    transition-duration: 0.4s;
    &:hover {
        transition-duration: 0.4s;
    }
}

%class-h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 30px 0;
    font-weight: $font-bold;
    @include mediaQuery($brkp-medium) {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

%class-h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 30px 0;
    font-weight: $font-bold;
    @include mediaQuery($brkp-medium) {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

%class-h3 {
    font-size: 2.2rem;
    line-height: 2.7rem;
    margin: 20px 0;
    font-weight: $font-bold;
    @include mediaQuery($brkp-medium) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

%class-h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 20px 0;
    font-weight: $font-bold;
    @include mediaQuery($brkp-medium) {
        font-size: 2.2rem;
        line-height: 2.7rem;
    }
}

%class-h5 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 10px 0;
    font-weight: $font-bold;
    @include mediaQuery($brkp-medium) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

%class-h6 {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin: 10px 0;
    font-weight: $font-bold;
    @include mediaQuery($brkp-medium) {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }
}

%border-radius {
    border-radius: 2px;
}

%border-radius-larger {
    border-radius: 3px;
}
