@mixin mediaQuery ($arg) {
	@media screen and (min-width: $arg) {
		@content;
	}
}

// Extends
%wrapper {
    width: 100%;
    max-width: $theme-width;
    margin: 0 auto;
}

%link-no-decoration {
    text-decoration: none;
}

