@mixin mediaQuery ($arg) {
	@media screen and (min-width: $arg) {
		@content;
	}
}

@mixin desktop-hidden($display_mobile) {
    display: $display_mobile;
    @include mediaQuery($brkp-large) {
        display: none;
    }
}


// Functions
@function rgba-color($color, $opacity) {
  	@return rgba(red($color), green($color), blue($color), $opacity);
}


// Extends
%wrapper {
    width: 100%;
    max-width: $theme-width;
    margin: 0 auto;
}

%link-no-decoration {
    text-decoration: none;
}



