.header {
    a {
        @extend %link-no-decoration;
    }

    .top-bar {
        display: $display_top_bar_mobile;
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        background-color: var(--top_bar_bgcolor);
        color: var(--top_bar_font_color);
        @include mediaQuery($brkp-large) {
            display: $display_top_bar_desktop;
        }

        a {
            color: inherit;
        }
    }

    .header-content {
        background-color: var(--header_bgcolor);
        position: relative;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--header_bgcolor);
        padding: 10px 20px;
        @include mediaQuery($brkp-large) {
            padding: 10px 30px 35px 30px;
        }
        @include mediaQuery($theme-width + 60px) {
            padding: 10px 0 35px 0;
        }

        &__col {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 30px;

            &:first-child {
                gap: 10px;
                @include mediaQuery($brkp-xsmall) {
                    gap: 30px;
                }
            }
        }

        .hamburger-menu {
            width: 30px;
            height: 30px;
            @include desktop-hidden(flex);
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            cursor: pointer;
            @include mediaQuery($brkp-xsmall) {
                width: 40px;
                height: 40px;
            }
            

            &__line {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-black;
                margin: 3px 0;
            }
        }

        .mobile-search-icon {
            cursor: pointer;
            width: 20px;
            height: 16px;
            @include desktop-hidden(inline-block);
            @include mediaQuery($brkp-xsmall) {
                width: 31px;
                height: 27px;
            }
        }

        .header-search-form {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            background-color: var(--theme_secondary_color);
            padding: 30px 20px;
            z-index: 3;
            display: flex;
            align-items: center;
            gap: 20px;
            transition-duration: 0.4s;
            @include mediaQuery($brkp-large) {
                position: static;
                display: block;
                padding: 0;
            }

            .search-form {
                transition: 0.4s;
                @include mediaQuery($brkp-large) {
                    max-width: 300px;
                }
            }

            .extend-searchform {
                @include mediaQuery($brkp-large) {
                    max-width: 450px;
                }
            }
            

            &--is-opened {
                top: 0;
                transition-duration: 0.4s;
                box-shadow: 0 2px 5px 5px var(--theme_secondary_color);
            }

            .close-button {
                @include close-button(var(--theme_primary_color));
                @include desktop-hidden(static);
            }
        }

        .logo {
            width: 100px;
            height: 40px;
            margin: 0 auto;
            @include mediaQuery($brkp-xsmall) {
                width: 180px;
                height: 60px;
            }
            @include mediaQuery($brkp-large) {
                width: 350px;
                height: 100px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                background: center / contain no-repeat;
                display: block;
                margin: 0 auto;
            }
        }

        .icons-wrapper {
            justify-content: flex-end;
            gap: 10px;
            @include mediaQuery($brkp-small) {
                gap: 20px;
            }
            @include mediaQuery($brkp-large) {
                gap: 50px;
            }

            .icon-container {
                padding: 5px;
                @include mediaQuery($brkp-large) {
                    padding: 10px;
                }

                .phone-icon,
                .user-icon,
                .cart-icon {
                    width: 15px;
                    height: 15px;
                    background-color: var(--theme_primary_color);
                    -webkit-mask-repeat: no-repeat;
                    -webkit-mask-size: 15px;
                    mask-repeat: no-repeat;
                    mask-size: 15px;
                    @include mediaQuery($brkp-xsmall) {
                        width: 25px;
                        height: 25px;
                        -webkit-mask-size: 25px;
                        mask-size: 25px;
                    }
                    @include mediaQuery($brkp-large) {
                        width: 35px;
                        height: 35px;
                        -webkit-mask-size: 35px;
                        mask-size: 35px;
                    }
                }

                .phone-icon {
                    -webkit-mask-image: url('assets/images/phone-icon.svg');
                    mask-image: url('assets/images/phone-icon.svg');
                }

                .user-icon {
                    -webkit-mask-image: url('assets/images/user-icon.svg');
                    mask-image: url('assets/images/user-icon.svg');
                }

                .cart-icon {
                    -webkit-mask-image: url('assets/images/cart-icon.svg');
                    mask-image: url('assets/images/cart-icon.svg');
                }
            }
        }
    }

    .menu-container {
        position: relative;
        height: 1px;
        z-index: 5;
    }

    .menu-wrapper {
        width: 100%;
        background-color: var(--menu_bgcolor);
        color: var(--menu_font_color);
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition-duration: 0.4s;
        @include mediaQuery($brkp-large) {
            width: 95%;
            height: auto;
            max-width: $theme-small-width;
            margin: 0 auto;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 2px;
            z-index: 0;

            &--decorations {
                &:after {
                    content: '';
                    position: absolute;
                    background: var(--theme_primary_color);
                    z-index: -1;
                    transition: 1s;
                    height: calc(100% - 10px);
                    width: calc(100% + 14px);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 2px;
                }
            }
        }

        a, span {
            color: inherit;
        }

        &--opened {
            left: 0;
            transition-duration: 0.4s;
            overflow: auto;
        }
    }

    .mobile-top-bar {
        padding: 10px;
        align-items: center;
        @include desktop-hidden(flex);

        .mobile-close-button {
            transform: rotate(-90deg);
            padding: 5px 10px;
            cursor: pointer;
            width: 17px;
            height: 17px;
            position: relative;
            left: 0;
            transition-duration: 0.4s;
            @include mediaQuery($brkp-large) {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            .mobile-close-button {
                left: -5px;
                transition-duration: 0.4s;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        @include mediaQuery($brkp-large) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .menu-item {
            list-style: none;
            padding: 0;
            position: relative;
            background-color: var(--menu_bgcolor);
            color: var(--menu_font_color);
            @include mediaQuery($brkp-large) {
                margin: 0;
            }

            a {
                display: block;
                padding: 12px 20px;
                font-weight: $font-semi-bold;
                @include mediaQuery($brkp-large) {
                    padding: 16px 20px;
                }
                @include mediaQuery($brkp-large + 50px) {
                    padding: 16px 30px;
                }

                &:hover {
                    @include mediaQuery($brkp-large) {
                        background-color: var(--menu_hover_bgcolor);
                        transition: 0.3s;
                    }
                }
            }

            .menu-item-plus {
                display: none;
            }

            .sub-menu {
                display: none;
                padding: 0 0 0 15px;
                background-color: var(--menu_bgcolor);
                color: var(--menu_font_color);
                @include mediaQuery($brkp-large) {
                    padding: 0;
                }
                
                // menu element 2 level
                .menu-item {
                    a {
                        padding: 10px 15px;
                        @include mediaQuery($brkp-large) {
                            line-height: 1.2em;
                            border-bottom: 2px solid var(--menu_font_color);
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        > .menu-item {
            > a {
                @include mediaQuery($brkp-large) {
                    border-radius: 3px;
                }
            }
        }

        .menu-item-has-children {
            position: relative;

            > .menu-item-plus {
                @include desktop-hidden(block);
                position: absolute;
                right: 5px;
                top: 10px;
                font-size: 2rem;
                padding: 0 20px;
                cursor: pointer;
                color: var(--menu_font_color);
            }

            // show submenu on hover
            &:hover .sub-menu {
                @include mediaQuery($brkp-large) {
                    display: block;
                }
            }
        }

        // first submenu layout
        > .menu-item-has-children > .sub-menu {
            @include mediaQuery($brkp-large) {
                position: absolute;
                z-index: 90;
                width: 300px;
                box-shadow: 0px 3px 8px 0px $color-light-gray;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                overflow: hidden;
            }
        }
    }

    .full-menu {
        .menu {
            @include mediaQuery($brkp-large) {
                position: relative;
            }

            .menu-item {
                position: static;

                .sub-menu {
                    padding: 0 0 0 15px;
                    
                    // menu element 2 level
                    .menu-item {         
                        width: 20%;
                        min-width: 300px;          
                        a {
                            @include mediaQuery($brkp-large) {
                                display: inline-block;
                                border-radius: 3px;
                                border-bottom: none;
                            }
                        }

                        // sub-menu 3 level
                        .sub-menu {
                            a {
                                padding: 5px 15px 5px 30px;
                                @include mediaQuery($brkp-large) {
                                    padding: 5px 15px;
                                }
                            }

                            // sub-menu 4 level
                            .sub-menu {
                                a {
                                    padding: 5px 15px 5px 45px;
                                    @include mediaQuery($brkp-large) {
                                        padding: 5px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .menu-item-has-children {
                position: relative;
                @include mediaQuery($brkp-large) {
                    position: static;
                }

                > .sub-menu {
                    @include mediaQuery($brkp-large) {
                        flex-wrap: wrap;
                        justify-content: center;

                        .sub-menu {
                            display: block;
                        }
                    }
                }
            }

            // first submenu layout
            > .menu-item-has-children > .sub-menu {
                @include mediaQuery($brkp-large) {
                    padding: 10px 20px;
                    width: 100%;
                    left: 0;
                    box-shadow: none;
                }
            }

            > .menu-item-has-children {
                // show submenu on hover
                &:hover > .sub-menu {
                    @include mediaQuery($brkp-large) {
                        display: flex;
                    }
                }
            }
        }
    }

    .header-image {
        width: 100%;
        height: auto;
        min-height: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 30px 20px;
        @include mediaQuery($brkp-xsmall) {
            min-height: 75vw;
        }
        @include mediaQuery($brkp-small) {
            min-height: 50vw;
        }
        @include mediaQuery($brkp-large) {
            min-height: 40vw;
            max-height: 570px;
        }
        @include mediaQuery($brkp-xlarge) {
            min-height: 30vw;
            max-height: 570px;
        }
        @include mediaQuery($theme-width) {
            min-height: 570px;
            max-height: 570px;
        }

        &__shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba-color($color-black, 0.5);
        }

        .header-custom-text {
            position: relative;

            p {
                color: $color-white;
                font-size: 2rem;
                line-height: 3rem;
                text-align: center;
                padding: 50px;
                @include mediaQuery($brkp-small) {
                    font-size: 3rem;
                    line-height: 4rem;
                    max-width: 90%;
                    margin: 0 auto;
                }
                @include mediaQuery($brkp-large) {
                    font-size: 4rem;
                    line-height: 5rem;
                    max-width: 80%;
                }
                @include mediaQuery($brkp-xlarge) {
                    font-size: 4rem;
                    line-height: 5rem;
                    max-width: 70%;
                }
            }
            
            &--decorations {
                p {
                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        border: 1px solid $color-white;
                        transition-duration: 0.7s;
                    }

                    &:before {
                        bottom: -10px;
                        left: -10px;
                    }

                    &:after {
                        top: -10px;
                        right: -10px;
                    }

                    &:hover:before {
                        bottom: 10px;
                        left: 10px;
                        transition-duration: 0.7s;
                    }

                    &:hover:after {
                        top: 10px;
                        right: 10px;
                        transition-duration: 0.7s;
                    }
                }
            }
        }
    }   
}
