.home-container {
    padding: 20px 0;
    @include mediaQuery($brkp-large) {
        padding: 50px 0;
    }

    .home-headers {
        @include padding(10px, 10px, 30px, 30px);
    }

    .home-header,
    .home-subheader {
        // @include padding(0, 0, 0, 30px);
        // margin: 0;
        text-align: center
    }

    // .home-subheader {
    //     @include padding(0, 20px, 0, 30px);
    //     margin: 0;
    // }
}