.home-container {
    padding: 20px 0;
    @include mediaQuery($brkp-large) {
        padding: 50px 0;
    }

    .home-headers {
        padding: 0 20px;
        width: 100%;

        &--decorations {
            position: relative;
            margin: 20px 0 0 0;
            .home-header {
                position: absolute;
                top: -25px;
                left: 50%;
                transform: translateX(-50%);
                display: inline-block;
                width: max-content;
                padding: 5px 20px;
                background-color: var(--theme_primary_color);
                color: var(--theme_secondary_font_color);
                @extend %border-radius;
            }

            .home-subheader {
                padding: 30px 20px;
                color: var(--theme_primary_color);
                @extend %border-radius-larger;
                @include mediaQuery($brkp-medium) {
                    padding: 40px;
                }
            }
        }
    }

    .home-header,
    .home-subheader {
        margin: 0;
        text-align: center;
        background-color: var(--theme_secondary_color);
        @include mediaQuery($brkp-medium) {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    .home-header {
        padding: 30px 20px;
        @include mediaQuery($brkp-medium) {
            padding: 40px;
        }
    }

    .home-subheader {
        line-height: 2.6rem;
        padding: 0 20px 30px 20px;
        @include mediaQuery($brkp-medium) {
            line-height: 3rem;
            padding: 0 40px 40px 40px;
        }
    }
}